.review {
  padding-top: 30px;
  padding-bottom: 60px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 74px;
}

.accent {
  color: #fd9222;
}

.swiperOuter {
  margin-bottom: 32px;
}

.swiperOuter :global(.swiper) {
  padding-bottom: 50px;
}
.swiperOuter :global(.swiper-slide) {
  display: flex;
  height: auto;
}

.cardWrapper {
  position: relative;
  padding-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.avatar img {
  border-radius: 50%;
  display: block;
}

.reviewItem {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  padding: 56px 24px 24px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1; /* растягивается на всю высоту слайда */
}

.reviewSubtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.reviewText {
  font-size: 14px;
  color: rgba(17, 17, 17, 0.7);
}

.swiperOuter :global(.swiper-pagination) {
  bottom: 0;
}

.swiperOuter :global(.swiper-pagination-bullet) {
  width: 13px;
  height: 13px;
  border: 1px solid #fd9222;
  background: transparent;
  opacity: 1;
}

.swiperOuter :global(.swiper-pagination-bullet-active) {
  background: #fd9222;
}

.reviewBtn {
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background: transparent;
}
.stars {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 16px;
}

.star {
  font-size: 20px;
  color: #ccc;
}

.starActive {
  font-size: 20px;
  color: #fd9222;
}
/* СТРЕЛКИ */

/* КОНТЕЙНЕР СВАЙПЕРА */
.swiperOuter :global(.swiper) {
  position: relative;
  padding-bottom: 70px;
}

/* ПАГИНАЦИЯ по центру */
.swiperOuter :global(.swiper-pagination) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* СТРЕЛКИ ВНИЗУ */
.swiperOuter :global(.swiper-button-prev),
.swiperOuter :global(.swiper-button-next) {
  top: auto;
  bottom: 0;
  transform: none;
  width: 32px;
  height: 32px;
  color: #fd9222;
}
/* СЛЕВА от точек */
.swiperOuter :global(.swiper-button-prev) {
  left: calc(50% - 150px);
}

/* СПРАВА от точек */
.swiperOuter :global(.swiper-button-next) {
  right: calc(50% - 150px);
}

/* размер стрелок */
.swiperOuter :global(.swiper-button-prev::after),
.swiperOuter :global(.swiper-button-next::after) {
  font-size: 16px;
}
.loadMoreBtn {
  display: block;
  margin: 20px auto 20px;
  padding: 12px 30px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background: transparent;
  cursor: pointer;
}
:global(.swiper-slide) {
  height: auto;
  display: flex;
}
/* адаптив */
@media (min-width: 768px) {
  .review {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .swiperOuter :global(.swiper-pagination) {
    /* display: none; */
  }
}
